// artist card styles

$height--album: 50px;
$height--track: 40px;

.artistCard {
    display: none;
    width: calc(100% - 4rem);
    min-height: 200px;
    color: white;
    padding: 0 2*$baseline;
    font-size: 14px;
    margin-bottom: 4*$baseline;
}

.artistCard-section {
    width: calc(33% - 4rem);
    display: inline-block;
    float: left;
    padding: 0 2*$baseline;
    border-left: 1px #555 solid;
}

.artistCard-album {
    padding: 8px 0;
    border-bottom: 1px #333 solid;

    img {
        width: $height--album;
        float: left;
        margin-right: 6px;
    }
}

.artistCard-albumName {
    display: inline-block;
    line-height: $height--album;
    float: left;
    width: calc(85% - 58px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.artistCard-track {
  border-bottom: 1px #333 solid;
}

.artistCard-albumCount {
    display: inline-block;
    line-height: $height--album;
    float: right;
    width: 15%;
    text-align: right;
}

.artistCard-trackName {
    display: inline-block;
    line-height: $height--track;
    float: left;
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.artistCard-trackCount {
    display: inline-block;
    line-height: $height--track;
    float: right;
    width: 15%;
    text-align: right;
}
