// form styles

.form-row {
    margin: $baseline 0;
}

.start {
    width: 25rem;
    padding: 2*$baseline;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40vh;
    background-color: #555;
}