// bower:scss
// endbower

$baseline: 1rem;

body {
    background: #222;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    margin: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.overlay {
    background-color: rgba(80, 80, 80, 0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
}

.preloader {
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35vh;
    font-weight: 300;
    font-size: 18px;
}

.timeTitle {
    display: none;
    padding: 0 2*$baseline;
    font-weight: 300;
    color: #999;

    span {
        color: white;
    }
}

// timeline
.timeline path, .timeline line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.timeline text {
    font-size: 11px;
    fill: #aaa;
}

.vis-axis path, .vis-axis line {
    fill: none;
    stroke: #383838;
    shape-rendering: crispEdges;
}

.vis-axis text {
    font-size: 11px;
    fill: #999;
}

@import "form.scss";
@import "info.scss";
